
h1, footer {
    text-align: center;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

h1 {
  margin-left: auto;
  text-align: center;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1in;
  color: #ffffff;
}

h2 {
  margin-left: auto;
  text-align: center;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.5in;
  color: #ffffff;
}

/*Set background color for nav bar*/
.topnav {
  background-color: #6c8cbc;
  overflow: hidden;
  opacity: 50%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

ol {
  text-align: center;
  color: #ffffff;
}

ul { 
  text-align: center;
  color: #ffffff;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #5c7cb0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #343b74;
  color: white;
  opacity: 50%;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.instagram {
  background: #6c8cbc;
  color: white;
}

.discord {
  background: #6c8cbc;
  color: white;
}

.github {
  background: #6c8cbc;
  color: white;
}

.linkedin {
  background: #6c8cbc;
  color: white;
}

.youtube {
  background: #6c8cbc;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c8cbc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343b74; 
}
