
h1, footer {
    text-align: center;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1in;
  color: grey;
}

h1:last-of-type{
  margin-left: auto;
  color: black;
}


